@model PropertyPortal.tbltrantypemaster

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container-fluid">
        <section class="container">
            <div class="container-page">
                <div class="col-md-6">
                    <h3 class="dark-grey"></h3>

                    <table class="table table-bordered">
                        <tr class="active">
                            <th colspan="2">
                                Add Transaction Type
                            </th>
                        </tr>
                        <tr>
                            <td>

                                @Html.LabelFor(model => model.Name)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Create" class="button btn btn-primary" /> @Html.ActionLink("Back to List", "Index")
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
